extends layout

block content
  h1= title
  p Welcome to #{title} 
  p you can get all toys in db , you can search by name or category , you can  add toys and update 
  p you can see the result toys by page number and per pagep
  p you can get all toys in db , you can search by name or category
  p you can  add toys and update , you can see the result toys by page number and per page
  p Feel free to add toys to the database and use unlimited
  p for mor information look <a href="https://github.com/MeirSibhat/toysServer">  Click here  </a>

h3  example
p   /toys  - to get all toys
p   /toys/page/1?perPage=5  - for get page number   and get the per page val is not required
p   /toys/add               - to add toys    on body the obj you must to send all parameter  is required
p   /toys/del               - on body must to send  id  to delet  
p   /toys/update            - on body must to send  obj toys and the id to change   must to be valid
p   /toys/cat/:catId        - to get all toys by category  and limit  example   - /toys/cat/car?pageNum=0    /toys/cat/car?perPage=2 

p   /toys/search?s= query   - search    toys by name or category   example /toys/search?s= car 
p   /toys/countToys         - get the count toys in dbToys
